* { 
  box-sizing: border-box;
}
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
#project {
  background-image: url('../images/project.jpg') ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 260px;
}
.page-header h1{
  line-height: 40px;
  letter-spacing: 0.6px;
  font-size: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  padding-top: 50px;
  position: relative;
}
.header-content {
  line-height: 20px;
  font-size: 18px;
  color: #ffffff;
}
.project-container {
  max-width: 980px;
  margin: auto; 
  padding: percentage(22px/980px);
  padding-top: 3%;
}
.projects {
  list-style: none;
  padding: 0;
  margin: auto;
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.projects li {
    display: inline-block;
    vertical-align: top;
    margin: 45px percentage(22px/980px) 0 percentage(23px/980px); 
    width: percentage(200px/980px);
    padding: 20px;
}
.projects a {
    text-decoration: none;
    color: #888;
    display: block;
    font-size: 16px;
}
.projects a img {
    display: block;
    max-width: 100%;
    height: auto !important; 

    border-radius: 5%;
}
.projects a .project-label {
  display: block;
  margin: 5px 0 10px;
  word-wrap: break-word;
  width: 11.5em;
  font-weight: bolder;
}
.projects .current a{
    color: #000;
 }
.projects .current a::after {
  content: "";
  display: table;
  border: 10px solid;
  border-top: none;
  border-color: #333 transparent;
  margin: auto;
}
.projects h3 {
  font-size: 20px;
}
.projects .details {
  font-size: 16px;
  display: none;
  position: absolute;
  background: #444;
  box-shadow: inset 0 10px 20px 5px #333;
  color: #fff;
  overflow: hidden;
  right: 20px;
  left: 20px; 
  padding: 20px;
  margin-right: 20px;
}
.projects .details img {
  float: right;
  margin-left: 20px;
  width: percentage(500px/940px);
  height: auto !important;
}
.projects .details .text {
  overflow: hidden;
}
.projects .details p {
  overflow: hidden;
  line-height: 1.5;
  font: 14px 'Roboto', sans-serif;
  padding-top: 20px;
}
.btn-more {
  position: absolute;
  bottom: 1em;
}
.tag-line {
  word-wrap: break-word;
  width: 200px;
  margin-top: 3px;
}
.tag-line .current{
  display: none;
}
.tag-line .project-tag{
  display: inline-block;
  font: 10px 'Roboto', sans-serif;
  border: 1px #888 solid;
  line-height: 1;
  border-radius: 8px;
  padding: 3px;
  margin: 1px;
}
.project-tag:hover {
  color: #000;
  text-decoration: underline;
}
/* .projects .details .current .details {
  display: block;
}  */
@media only screen and (max-width: 735px) {
  .project-container {
    padding: percentage(22px/735px);
  }
  .projects {
    margin: 0 -1*percentage(22px/735px); 
  }
  .projects li {
    margin: 45px percentage(22px/735px) 0 percentage(23px/735px); 
    width: percentage(200px/735px);
  }
}
@media only screen and (max-width: 490px) {
  .project-container {
    padding: percentage(22px/490px);
  }
  .projects {
    margin: 0 -1*percentage(22px/490px); 
   
  }
  .projects li {
    margin: 45px percentage(22px/490px) 0 percentage(23px/490px); 
    width: percentage(200px/490px); 
  }
  .projects .details img{
      float: none;
      width: 100%;
      margin: 0;
    }
}
